dist: bionic
language: c

addons:
    apt:
        sources:
            - george-edison55-precise-backports
        packages:
            - cmake-data
            - cmake
            - libglew-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev

script:
    - cmake .
    - cmake --build .
